body{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

.header{
    padding: 10px;
    grid-column: 2/3;
}

.nav-top{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 2fr;
    gap: 15px;
    padding: 0 50px;
}

.nav-bottom{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 0 50px;
}

.sidebar{
    background-color: rgb(25,146,212);
    padding: 10px;
    grid-column: 1;
    grid-row: 1/4;
    justify-items: center;
}

.sidebar-title{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
}

.sidebar-content-up div{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
}

.sidebar-content-down div{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
}

.main-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 12fr;
    background-color: rgb(226,232,240);
    padding: 10px;
    grid-column: 2/3;
    grid-row: 2/3;
}

.project-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    grid-template-rows: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
    padding: 15px;
}

.card{
    border-radius: 10px;
    border-left: 8px solid #F0B429;
    padding: 15px;
    background-color: #FFFFFF;

}

.card-icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-self: end;
    gap: 5px;
}

#projects-title{
    grid-column: 1/4;
    grid-row: 1;
}

.announcements{
    background-color: #FFFFFF;
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(3,auto);
}

.ann-post{
    padding: 15px;
    justify-self:center;
}

.ann-post:not(:last-child)::after{
    content: "";
    position: absolute;
    width: 20%;
    height: 1px;
    background-color: #ccc;
}

#announcements-title{
    grid-column: 2/4;
    grid-row: 1;
}

/* Find out why .sidebar-content-down is misplaced */